.root {
	height: 90px;
	display: flex;
	width: 90%;
	margin: 0 5%;
	align-items: center;
	padding-left: 20px;
}
	
.newTask {
	display: flex;
	align-items: center;
	margin: auto;
	margin-right: 10%;
}
.text {
	border-radius: 50px;
	width: 330px;
	height: 30px;
	border: 1px #646fa6 solid;
	background-color: #0f21296e;
	color: #c3c0c0;
	font-family: Cocon-Regular;
	font-size: 14px;
	padding: 4px 15px;
	resize: none;
	overflow: hidden;
	outline: none;
	word-wrap: break-word;
}
.add {
	font-size: 18px;
	font-family: Janna-Bold;
	color: #0fc5e2;
	margin: 0 0 0 10px;
	padding: 20px;
	background-color: rgba(119, 136, 153, 0.32);
	border-radius: 30px;
	border: 0;
	outline: none;	
	&:hover {
		text-shadow: none;
		box-shadow: 0 0 10px;
	}
}