body {
	background-image: url(./img/no-translate-detected_1235-315.jpg);
	background-repeat: repeat;
}
@font-face {
	font-family: Rolleston;
	src: url('./fonts/RollestonDisplay.otf') format('opentype');
}
@font-face {
	font-family: Janna-Bold;
	src: url(./fonts/Janna-Bold.ttf);
}
@font-face {
	font-family: Cocon-Regular;
	src: url(./fonts/Cocon-Regular.otf);
}